*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'ArcaneNine' ;
  src: url('/fonts/ArcaneNine.woff2') format('woff2'),url('/fonts/ArcaneNine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:'ArcaneNine', Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  
}


input, button, textarea, select {
  font: inherit;
}

button {
  background-color:rgb(48, 21, 54);
  padding:  10px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  width: 50%; 
  max-width: 200px; 
  min-width: 100px; 
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(30, 13, 34);
}

.screen {
  height: 100vh;
  
  
}

.arcaneLogo {
  position: absolute;
  width: 400px;
  top: 30px;
}

.appContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Start Screen */
.startScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('/src/assets/StartBackground.png');
  background-size: cover;
  background-position: center;
}

.arcaneLogo {
  position: absolute;
  width: 400px;
  top: 30px;
}

.startPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.959);
  padding: 30px;
  margin: 20% ;
  border-radius: 20px;
}

.startPrompt > * {
  padding: 10px
}

/* Game Screen */
.gameScreen {
  display: grid;
  justify-items: center;
  background-image: url('/src/assets/GameBackground.jpeg');
  background-size: cover;
  background-position: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  grid-auto-rows: 1fr; 
  gap: 16px; 
  max-height: calc(3 * 192px + 2 * 16px);
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 20px;
  padding: 30px;
  margin: 200px 0px 0px 0px;
  width: 70vw;
}


.card {
  background-color: rgba(30, 13, 34, 0.329);
  display: grid;
  justify-content: center;
}

.card img {
  margin: 10px 0px 0px 0px;
}
 
.scoreboard {
  position: absolute;
  right: 0;
  padding: 20px;
}


/* End Screen */
.endScreen {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
  background-color: black; 
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 90%;
  width: 400px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}